---
layout: archive
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {%- assign section_idx = 0 -%}

    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}

      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}

      {%- assign section_idx = section_idx | plus: 1 -%}
      {% include archive-single.html post=post index=section_idx %}
    {% endfor %}
  {% endfor %}
{% else %}
  {%- assign section_idx = 0 -%}
  {% for post in site.publications reversed %}
    {%- assign section_idx = section_idx | plus: 1 -%}
    {% include archive-single.html post=post index=section_idx %}
  {% endfor %}
{% endif %}
